<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue & Expenses </title>
</head>
<body>
    <img src="../../assets/logo.webp" width="100" height="100">
    <mat-sidenav-container>
        <mat-sidenav class="sidenav">
            <button class="sidenavButtons" id="Revenue & Expenses"> Revenue & Expenses </button>
        </mat-sidenav>
        <mat-sidenav-content>Main</mat-sidenav-content>
      </mat-sidenav-container>

</body>
</html>
