/* You can add global styles to this file, and also import other style files */
$ruben_red: #c71a1a;

$ruben_green: #0a910f;

.sidenavButtons {
    size: 100px;
    color: white;
    text-align: center;
    
}